$darkCyan: hsl(185, 75%, 39%);
$veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);
$primaryCardColor: white;
$primaryShadow: rgba(0, 0, 0, 0.25) 0px 0px 6px;

$primaryFont: "Kumbh Sans", sans-serif;
$primaryFontSize: 18px;
$secondaryFontSize: 14px;
$primaryFontWeight: 700;
$secondaryFontWeight: 400;

$primaryBorderRadius: 50%;

$imageHeight: 978px;
$imageWidth: 978px;

$zIndexParent: 1;
$zIndexChild: 2;

$positionParent: relative;
$positionChild: absolute;

$desktop: 1440px;
$mobile: 375px;
$tablet: 900px;